* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  text-decoration: none;
  cursor: pointer;
}

.header {
  height: 44px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header .logo {
  width: 24px;
  height: 24px;
}
.header .logo .logo-img {
  width: 100%;
  height: auto;
}
.header .links-menu #menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.header .links-menu .label-menu .custom-times {
  display: none;
}
.header .links-menu #menu:checked ~ .label-menu .custom-times {
  display: block;
}
.header .links-menu #menu:checked ~ .label-menu .custom-bars {
  display: none;
}
.header .links-menu #menu:checked ~ .list-menu {
  display: block;
}
.header .list-menu {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  background: blue;
  top: 44px;
  padding: 24px 16px 0px;
}
.header .list-menu .link-menu {
  color: white;
  display: block;
  padding-bottom: 24px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
}

.btn-primary {
  width: 100%;
  height: 48px;
  max-width: 320px;
  text-transform: uppercase;
  background: #00f3bb;
  color: #060a24;
  border: none;
  font-weight: 600;
}

.btn-primary:hover {
  background-image: linear-gradient(225deg, #0000a3 -40%, #00f3bb 100%);
  color: white;
}

.background-blue {
  position: relative;
}
.background-blue::after {
  display: block;
  background: blue;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  left: 0;
  transform: skew(0, -5deg);
}

.welcome-section {
  padding: 0 16px;
  margin-top: 30px;
  margin-bottom: 24px;
}
.welcome-section .title {
  font-size: 42px;
  line-height: 42px;
  margin-bottom: 16px;
  font-weight: 400px;
  color: #060a24;
  font-family: "IBM Plex Sans", sans-serif;
}
.welcome-section .description {
  font-family: 'IBM Plex Mono", monospace';
  font-size: 14px;
  line-height: 22px;
  color: #060a24;
  margin-bottom: 36px;
}

.podcasts {
  padding: 40px 16px 100px;
}
.podcasts .title,
.podcasts .podcast-list {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.podcasts .title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 21px;
}
.podcasts .podcast-container {
  margin-bottom: 11px;
  line-height: 0;
  border: none;
}
.podcasts .podcast-container .iframe {
  width: 100%;
  border: none;
}
.podcasts .podcast-container:last-child {
  margin-bottom: 0;
}

.about-us {
  margin-top: -60px;
}
.about-us .image-container {
  max-width: 360px;
  width: 100%;
  line-height: 0;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  margin-top: -60px auto 27px;
}
.about-us .image-container .phone-image {
  width: 100%;
}
.about-us .content {
  padding: 30px 16px;
}
.about-us .content .title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #060a24;
  line-height: 42px;
  margin-bottom: 8px;
}
.about-us .content .description {
  font-size: 14px;
  color: #060a24;
  line-height: 22px;
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 10px;
}

.images_section .title {
  padding: 50px 16px 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  font-size: #060a24;
  line-height: 42px;
  font-weight: 800;
}
.images_section .image_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.images_section .image_container .image {
  width: 320px;
  height: 243px;
}

.algunos_temas {
  padding: 40px 16px;
  align-content: center;
}
.algunos_temas .temas_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px 0;
}
.algunos_temas .figure {
  margin: 20px 0px;
  text-align: center;
  width: 190px;
}
.algunos_temas .title_title {
  font-size: 25px;
  line-height: 42px;
  font-weight: 900;
  font-family: "IBM Plex Sans", sans-serif;
  color: #060a24;
  letter-spacing: 0;
  padding-bottom: 25px;
}
.algunos_temas .figure_description {
  font-family: "IBM Plex Sans-SemiBold", sans-serif;
  font-size: 15px;
  color: #060a24;
  letter-spacing: 0;
  font-weight: bold;
  font-weight: 800;
  opacity: 80%;
}

.novedades-background {
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  text-align: center;
  transform: skewY(-6deg);
  width: 100%;
  height: 341px;
  transform-origin: top left;
  position: absolute;
  z-index: 0;
}

.novedades-background1 {
  width: 100%;
  height: 341px;
  position: absolute;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  z-index: 0;
}

.novedades {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.novedades_contenedor {
  z-index: 0;
  position: relative;
  padding: 30px 16px;
  text-align: center;
  display: block;
  justify-content: center;
}
.novedades_contenedor .novedades_button {
  padding: 30px 0px;
}
.novedades_contenedor .novedades_button .btn-secondary:hover {
  background-image: linear-gradient(225deg, #0000a3 -40%, #00f3bb 100%);
  color: white;
}
.novedades_contenedor .ultimas_novedades {
  height: 126px;
  width: 288px;
}
.novedades_contenedor .ultimas_novedades .novedades_title {
  font-size: 36px;
  line-height: 42px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #ffffff;
  text-align: center;
}
.novedades_contenedor .btn-secondary {
  width: 100%;
  height: 48px;
  max-width: 320px;
  text-transform: uppercase;
  background: #00f3bb;
  color: #060a24;
  border: none;
  font-weight: 600;
}

.footer {
  height: 120px;
}

.footer p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: normal;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 28px;
  height: 22px;
  width: auto;
  margin-top: 25px;
  margin-bottom: 20px;
}

.container-social {
  display: block;
  text-align: center;
  padding: 1px 0px;
}

#spotify {
  margin-right: 30px;
  width: 18px;
}

#instagram {
  margin-right: 30px;
}

#twitter {
  margin-right: 30px;
}

#facebook {
  margin-right: 30px;
}

#telegram {
  margin-right: 0px;
}

@media (min-width: 1280px) {
  .header {
    padding: 0 100px;
    height: 80px;
  }
  .header .logo {
    width: 36px;
    height: 36px;
  }
  .header .links-menu #menu {
    display: none;
  }
  .header .links-menu .label-menu {
    display: none;
  }
  .header .list-menu {
    display: flex;
    position: relative;
    left: auto;
    width: auto;
    background: transparent;
    top: auto;
    padding: 0;
  }
  .header .list-menu .link-menu {
    color: #060a24;
    display: block;
    padding-bottom: 0px;
    padding: 0 24px;
    font-family: "IBM Plex Mono", monospace;
  }
  .header .list-menu .link-menu:last-child {
    padding-right: 0;
  }

  .welcome-section {
    padding: 0 200px;
    margin-top: 120px;
    margin-bottom: 5px;
  }
  .welcome-section .color {
    color: #0000ec;
  }
  .welcome-section .title {
    font-size: 64px;
    line-height: 64px;
  }
  .welcome-section .title br {
    display: none;
  }
  .welcome-section .description {
    font-size: 16px;
    margin-bottom: 56px;
    width: 420px;
  }

  .btn-primary {
    width: 220px;
    height: 56px;
    min-width: 220px;
  }

  .podcasts {
    padding: 120px 100px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .podcasts .title {
    padding-left: 100px;
    max-width: 1440px;
    font-size: 48px;
    width: 100%;
    line-height: 48px;
    margin-bottom: 26px;
    font-family: "IBM Plex Sans", sans-serif;
  }
  .podcasts .podcast-list {
    display: flex;
    flex-wrap: wrap;
    margin: -36px;
    max-width: 1440px;
    width: 100%;
  }
  .podcasts .podcast-container {
    padding: 36px;
    width: 50%;
    height: auto;
  }
  .podcasts .podcast-container:last-child {
    margin-bottom: 0;
  }

  .images_section .title {
    padding: 50px 200px 30px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    font-size: #060a24;
    line-height: 42px;
    font-weight: 800;
  }
  .images_section .image_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .images_section .image_container .image {
    width: 480px;
    height: 364px;
  }

  .about-us {
    max-width: 1000px;
    margin: -120px auto 0;
    display: flex;
    align-items: center;
  }
  .about-us .image-container {
    margin-right: 62px;
    max-width: 457px;
    width: 100%;
    margin: 0 auto;
  }
  .about-us .content {
    padding: 0;
  }
  .about-us .content .title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
  }
  .about-us .content .description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    max-width: 464px;
  }
  .about-us .images_section .title {
    padding: 50px 16px 10px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    font-size: #060a24;
    line-height: 42px;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
  }
  .about-us .images_section .image_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .about-us .images_section .image_container .image {
    width: 480px;
    height: 364px;
  }

  .algunos_temas {
    padding: 15px 16px;
    align-content: center;
  }
  .algunos_temas .title_title {
    padding: 0px 200px 30px;
  }
  .algunos_temas .title_title .title {
    font-size: 48px;
  }
  .algunos_temas .temas_container {
    display: flex;
    flex-wrap: wrap;
  }
  .algunos_temas .temas_container .figure {
    padding: 15px 0;
    height: 130px;
    width: 260px;
    text-align: center;
  }
  .algunos_temas .temas_container .figure .figure_description {
    font-family: "IBMPlexSans-SemiBold", sans-serif;
    font-size: 19px;
    color: #060a24;
    letter-spacing: 0;
    font-weight: bold;
    font-weight: 1000;
    width: 180px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
  }

  .novedades-background {
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    text-align: center;
    transform: skewY(-6deg);
    width: 100%;
    height: 341px;
    transform-origin: top left;
    position: absolute;
    z-index: 0;
  }

  .novedades-background1 {
    width: 100%;
    height: 341px;
    position: absolute;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    z-index: 0;
  }

  .novedades {
    display: flex;
    justify-content: center;
    margin: 200px 0px;
  }

  .novedades_contenedor {
    z-index: 0;
    position: relative;
    padding: 70px 16px;
    text-align: center;
    display: block;
    justify-content: center;
  }
  .novedades_contenedor .novedades_button {
    padding: 10px 0px;
  }
  .novedades_contenedor .ultimas_novedades {
    height: 62px;
    width: 692px;
  }
  .novedades_contenedor .ultimas_novedades .novedades_title {
    font-size: 36px;
    line-height: 42px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #ffffff;
    text-align: center;
  }
  .novedades_contenedor .btn-secondary {
    width: 100%;
    height: 48px;
    max-width: 320px;
    text-transform: uppercase;
    background: #00f3bb;
    color: #060a24;
    border: none;
    font-weight: 600;
  }

  .footer {
    position: relative;
    height: 80px;
    width: auto;
    margin-top: -120px;
  }
  .footer p {
    font-family: "IBM Plex Mono", monospace;
    font-weight: normal;
    font-size: 16px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 28px;
  }
  .footer .container-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px 0px 100px;
  }
  .footer .fotter-social #spotify {
    margin-right: 30px;
    width: 18px;
  }
  .footer .fotter-social #instagram {
    margin-right: 30px;
  }
  .footer .fotter-social #twitter {
    margin-right: 30px;
  }
  .footer .fotter-social #facebook {
    margin-right: 30px;
  }
  .footer .fotter-social #telegram {
    margin-right: 0px;
  }
}

/*# sourceMappingURL=index.css.map */
